font-family: 'EDDAN___';
font-family: 'Plaster', cursive;
font-family: 'Righteous', cursive;


body {
	color: black;
	text-align: left;
	font-family: 'EDDAN___';
}

.img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: 100%;
	}
	
p {
		text-align: justify;
		text-justify: inter-word;
	}
	
.title {
		text-align: center;
		}
 