@font-face {
  font-family: 'Edda outline';
  src: url('fonts/edda_outline.ttf');
}

@font-face {
  font-family: 'Edda filled';
  src: url('fonts/edda_filled.otf');
}

@font-face {
  font-family: 'Tarocco Roman';
  src: url('fonts/Tarocco Roman.ttf');
}

@font-face {
  font-family: 'Floral';
  src: url('fonts/Floralcaps.ttf');
} 

@font-face {
  font-family: 'D';
  src: url('fonts/Davys.ttf');
} 

@font-face {
  font-family: 'Mont R';
  src: url('fonts/Montserrat-Regular.ttf');
}


h1 {
	display:block;
	color: #221d0e;
	font-family: 'Edda outline';
	text-align: center;
	word-spacing: -1px;
	letter-spacing: -1px;
	font-size: 35px;
}


.subtitle {
	color: #221d0e;
	font-family: 'Edda filled';
	font-weight: bold;
	word-spacing: -1px;
	padding-top: 2%;
	padding-left: 8%;
	padding-right: 8%;
	text-align: left;
	word-spacing: 2px;
}

/*I used h2 for all section titles within the articles*/
h2 {
	color: #221d0e;
	font-family: 'Edda filled';
	font-weight: bold;
	text-align: left;
	padding-top: 3%;
	padding-right: 5%;
	padding-left: 5%;
}

.article > h2 {
	color: #221d0e;
	font-family: 'Edda filled';
	font-weight: bold;
	text-align: left;
	padding-top: 4%;
	padding-right: 8%;
	padding-left: 8%;
	font-size: 18px;
}



body {
	background-color: rgba(241, 197, 172, 0.3);
	background-image: url('imgs/latosx.jpg'), url('imgs/latodx.jpg');
	background-position: left bottom, right bottom;
	background-size: 130px, 130px;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
}


.container {
	color: #262A1C;
	text-align: justify;
	font-family: 'Tarocco Roman';
}


p {
	color: #262A1C;
	text-align: justify;
	text-justify: inter-word;
	text-indent: 15px;
	font-family: 'Tarocco Roman';
	line-height: 1.2;
	display: inline-block;
	padding-left: 8%;
	padding-right: 8%;
	}
	
#art li {
	color: #262A1C;
	text-align: justify;
	text-justify: inter-word;
	font-family: 'Tarocco Roman';
	line-height: 1.2;
	padding-left: 8%;
	padding-right: 8%;
	 list-style-type: none;
	}

#cap {
  font-size: 60px;
  font-family: 'Floral';
  padding-right: 1px;
  padding-left: 8px;
  margin-top: -10px;
  margin-right: 6px;
  margin-bottom: -10px;
  float: left;
  text-indent: 0px;
}


/*figure formating*/
figure {
	float: left; 
	margin: 5% 0% 5% 0%;
	padding-top: 3%;
	padding-left: 8%;
	padding-right: 8%;
}

figcaption {
	font-family: 'Tarocco Roman';
	font-size: 70%;
	text-align: justify;
	/*padding-top: 3%;
	padding-left: 26%;
	padding-right: 26%; */
	line-height: normal;
	justify-content: center;
}

img {
    filter: grayscale(100%);
	max-width: 100%;
}


blockquote {
	padding-top: 3%;
	padding-right: 5%;
	padding-left: 5%;
}


/*********/

iframe {
	filter: grayscale(100%);
	width: 100%    !important;
	height: auto   !important;
	text-align: left;
	display: inline;
}

/*hyperlinks*/

#art a { 
	color: #5C6469; 
	font-family: 'Tarocco Roman';
}

#art a:visited {
	color: #b98a7d;
}

#art a:hover {
	color: #6d533f;
}

#art a:active {
	color: #262A1C;
}


/*metadata top box formatting*/
.metadata {
    display: block;
    padding: 5%;
	margin-top: 5%;
	width: 100%;
	height: 25vh;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-color: #221d0e #dcc5a1;
    scrollbar-width: thin;
	border: 3px solid;
	border-radius: 55px;
	border-color: black;
	background: #dcc5a1;
}


.metadata::-webkit-scrollbar {
  width: 0px;  /* width of the entire scrollbar */
}

.metadata::-webkit-scrollbar-track {
  background: rgba(224,187,147,255); /* color of the tracking area */
}

.metadata::-webkit-scrollbar-thumb {
  background-color: rgba(224,187,147,255);    /* color of the scroll thumb */
}


.article {
	display: block;
    margin-top: 5%;
	width: 100%;
	height: 48vh;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-color: #221d0e #F2DEAB;
    scrollbar-width: thin;
	border: 3px solid;
	border-color: #2a2312;
	border-radius: 55px;
	background: #F2DEAB;
    padding: 15px;
    border-image: 80 round;
}


.article::-webkit-scrollbar {
  width: 0px;
}

.article::-webkit-scrollbar-track {
  background: rgba(242,222,171,255);        /* color of the tracking area */
  
}


/* Highlight for the metadata viewer */

.highlight{
	background-color: #d0e1e6;
}



/* Style for the navbar section */

#header img {
  max-width: 100%;
  border-style: none;
  outline: none;
  filter: none;
}

#header img:hover {
  max-width: 100%;
  border-style: none;
  outline: none;
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari 3-8 */
  transform: scale(1.11);
  filter:opacity(50%);
}

#header {
	font-family: 'Mont R';
}

#bar-header {
	width: 100%;
    height: 58px;
}



/* Style for the accordion (metadata) */


.accordion h2  {
	font-family: 'Mont R';
}

.accordion label {
	font-family: 'Mont R';
	font-size: 10px;
}

.accordion a {
	font-family: 'Mont R';
	font-size: 14px;
}

.accordion-collapse{
	height: 25vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* "art" container of articles and metadata */

#art {
	width: 98%;
} 


.row {
	margin-top: 1%;
}

/* checkbox style 
input[type='checkbox'] {
	display: none;
	}*/
