@font-face {
  font-family: 'Mont R';
  src: url('fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Mont B';
  src: url('fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Mont T';
  src: url('fonts/Montserrat-ThinItalic.ttf');
}

@font-face {
  font-family: 'Mont I';
  src: url('fonts/Montserrat-Italic.ttf');
} 


h1 {
	display: block;
	color: black;
	font-family: 'Mont B';
	text-align: left;
}


.subtitle {
	color: black;
	font-family: 'Mont B';
	text-align: left;
}

h2 {
	color: black;
	font-family: 'Mont B';
	text-align: left;
}

.article > h2 {
	color: black;
	font-family: 'Mont B';
	text-align: justify;
	padding-top: 3%;
	padding-right: 5%;
	padding-left: 5%;
	font-size: 20px;
}


body {
	background-color: white;
}


p {
	color: black;
	text-align: justify;
	text-justify: inter-word;
	font-family: 'Mont R';
	line-height: 1.5;
	display: inline-block;
	padding-right: 5%;
	padding-left: 5%;
	}



/*figure formating*/
figure {
	float: left; 
	margin: 5% 0% 5% 0%;
	padding-top: 3%;
	padding-right: 5%;
	padding-left: 5%;
}

figcaption {
	font-family: 'Mont I';
	font-size: 70%;
	padding-top: 3%;
	padding-right: 5%;
	padding-left: 5%;
}

img {
	max-width: 100%;
}


blockquote {
	padding-top: 3%;
	padding-right: 5%;
	padding-left: 5%;
}

h5 {
	padding-top: 3%;
	padding-right: 5%;
	padding-left: 5%;
}
/*********/

iframe {
	width: 100%    !important;
	height: auto   !important;
	text-align: left;
	display: inline;
}

/*metadata top box formatting*/
.metadata {
    display: block;
    padding: 5%;
	margin-top: 5%;
	width: 100%;
	height: 28vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.article {
	display: block;
    margin-top: 5%;
	width: 100%;
	height: 75vh;
	overflow-y: scroll;
	overflow-x: hidden;
	
}

html {
	width: 100vw;
}