@font-face {
  font-family: 'Mont R';
  src: url('fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Mont B';
  src: url('fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Mont T';
  src: url('fonts/Montserrat-ThinItalic.ttf');
}

@font-face {
  font-family: 'Mont I';
  src: url('fonts/Montserrat-Italic.ttf');
} 


body {
	font-family: 'Mont R';
}

img {
	max-width: 100%;
}


iframe {
	width: 100%    !important;
	height: auto   !important;
	text-align: left;
	display: inline;
}


/*metadata top box formatting*/
.metadata {
    display: block;
    padding: 5%;
	margin-top: 5%;
	width: 100%;
	height: 25vh;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid green;
}

.article {
	display: block;
	padding: 5%;
    margin-top: 5%;
	width: 100%;
	height: 48vh;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid green;
}


blockquote {
	padding-top: 3%;
	padding-right: 5%;
	padding-left: 5%;
}

.navbar-brand {
	font-family: 'Mont R';
}

.nav-link {
	font-family: 'Mont R';
}

.dropdown-item {
	font-family: 'Mont R';
	
}




/* Highlight for the metadata viewer */

.highlight{
	background-color: #ccff33;
}
/* Style for the navbar section */

#header img {
  max-width: 100%;
  border-style: none;
  outline: none;
  filter: none;
}

#header img:hover {
  max-width: 100%;
  border-style: none;
  outline: none;
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari 3-8 */
  transform: scale(1.11);
  filter:opacity(50%);
}

#header {
	font-family: 'Mont R';
}

#bar-header {
	width: 100%;
    height: 58px;
}


/* Style for the accordion (metadata) */


.accordion h2  {
	font-family: 'Mont R';
}

.accordion label {
	font-family: 'Mont R';
	font-size: 10px;
}

.accordion a {
	font-family: 'Mont R';
	font-size: 12px;
	
}

.accordion-collapse{
	height: 25vh;
	overflow-y: scroll;
	overflow-x: hidden;
}


/* "art" container of articles and metadata */

#art {
	width: 98%;
} 

.row {
	margin-top: 1%;
}
