@font-face {
  font-family: 'pirulen rg';
  src: url('fonts/pirulen rg.otf');
}



@font-face {
  font-family: 'Mont R';
  src: url('fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Mont B';
  src: url('fonts/Montserrat-Bold.ttf');
}

.navbar {
	background-color: black;
}


.navbar-brand {
	font-family: 'Arial';
}

.nav-link {
	font-family: 'Arial';
	color: white;
}


.dropdown-item {
	font-family: 'Arial';
	
}


h1 {
	display:block;
	color: #DBD4D6;
	font-family: 'pirulen rg';
	text-align: center;
	letter-spacing: 2px;
	font-size: 180%;
	padding-bottom: 8%;
	padding-right: 1%;
	padding-left: 1%;
}


.subtitle {
	color: #DBD4D6;
	font-family: 'pirulen rg';
	word-spacing: -3%;
	padding-top: 2%;
	padding-right: 2%;
	padding-left: 2%;
	text-align: justify;
}



h2 {
	color: white;
	font-family: 'pirulen rg';
	font-weight: normal;
	text-align: left;
	padding-top: 3%;
	padding-right: 5%;
	padding-left: 5%;
}

.article > h2 {
	color: #DBD4D6;
	font-family: 'pirulen rg';
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
	padding-top: 4%;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 0;
	font-size: 80%;
}


body {
	cursor: url(imgs/arrow.cur),auto;
	color: #262A1C;
	text-align: justify;
	font-family: '';
	background-color: white;
	background-image: url('imgs/fjords.jpg');
	filter: grayscale(50%);
	background-position: 50% 99%;
	background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


p {
	color: #A69398;
	text-align: justify;
	font-family: 'Mont R';
	font-size: 80%;
	line-height: 1.2;
	display: inline-block;
	padding-right: 2%;
	padding-left: 2%;
}




/*figure formating*/
figure {
	float: left; 
	margin: 5% 0% 5% 0%;
	padding-top: 3%;
	padding-right: 5%;
	padding-left: 5%;
}

figcaption {
	font-family: 'Mont R';
	color: #A69398;
	text-align: justify;
	font-size: 50%;
	padding-top: 6%;
	padding-left: 2%;
	
}

img {
    filter: drop-shadow(0 0 0.15rem white);
	max-width: 100%;
	border-radius: 5px;
	transition: transform .2s; /* Animation */
}

/* to zoom imgs */

img:hover {
	-ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(1.15); /* Safari 3-8 */
    transform: scale(1.11); 
}



/* I DON'T KNOW IF YOU USED THOSE BUT IN CASE
ADD THEM!!! */
blockquote {
	font-family: 'Mont R';
	padding-top: 3%;
	padding-right: 2%;
	padding-left: 2%;
	color: white;
}

.twitter-tweet tw-align-center {
	cursor: url(imgs/arrow.cur),auto;
}

h5 {
	font-family: 'Mont B';
	text-align: justify;
	font-size: 80%; 
	color: #A69398;
	padding-right: 2%;
	padding-left: 2%;
}
/*********/

iframe {
	filter:;
	width: 100%    !important;
	height: auto   !important;
	text-align: center;
	display: inline;
}


ul {
	list-style-type: square;
	color: grey;
	font-family: 'Mont R';
	font-size: 80%;
}



/*hyperlinks*/

a { 
	cursor: url(imgs/link.cur),auto;
	color: #DBD4D6; 
	font-family: 'Mont R';
	
	text-decoration: underline;
}

a:visited {
	color: white;
	text-decoration: underline;
}


a:hover {
	color: black;
	background-color: white;
	text-decoration: underline;
}


a:active {
	color: white;
	text-decoration: underline;
}


/*metadata top box formatting*/
.metadata {
    display: block;
    padding: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 100%;
	height: 25vh;
	overflow-y: scroll;
	overflow-x: hidden;
	border: none;
	border-radius: 14px;
	background: linear-gradient(-40deg, #0D2819, #28170d, #280d15, #28170d);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	opacity: 20%;
}


.metadata:hover {
    display: block;
    padding: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 100%;
	height: 25vh;
	overflow-y: scroll;
	overflow-x: hidden;
	border: none;
	border-radius: 14px;
	background: linear-gradient(-40deg, #0D2819, #28170d, #280d15, #28170d);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	opacity: 80%;
}

/* Hide scrollbar for Chrome, Safari */
.metadata::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Edge, Firefox */
.metadata {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}


.article {
	display: block;
    margin-top: 5%;
	margin-bottom: 5%;
	width: 100%;
	height: 63vh;
	overflow-y: scroll;
	overflow-x: hidden;
	border: none;
	border-radius: 14px;
    padding: 10px;
	background: linear-gradient(-60deg, #280d15, #0d2819, #28170d, #28170d);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
	opacity: 20%;
}

.article:hover {
	display: block;
    margin-top: 5%;
	margin-bottom: 5%;
	width: 100%;
	height: 63vh;
	overflow-y: scroll;
	overflow-x: hidden;
	border: none;
	border-radius: 14px;
    padding: 10px;
	background: linear-gradient(-60deg, #280d15, #0d2819, #28170d, #28170d);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
	opacity: 90%;
}

/* Hide scrollbar for Chrome, Safari */
.article::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Edge, Firefox */
.article {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
	

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

