@font-face {
  font-family: 'IMB';
  src: url('fonts/Web437_IBM_CGA-2y.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont R';
  src: url('fonts/Montserrat-Regular.ttf');
}

.vga8 {
  font-family: 'Verite 8x16', 'IBM VGA 8x16', monospace;
  font-size: 16px;
  line-height: 16px;
}

.mda-scaled {
  font-family: 'IBM MDA', monospace;
  font-size: 14px;
  line-height: 14px;
  transform: scaleX(0.6667);
}

.highlight{
	background-color: #7FFF00;
  	color: black;
	font-weight: bold;
}

 
/*text*/

body {
	text-align: initial;
	font-family: 'IMB';
	background-color: black; 
}

h1 {
	text-transform: uppercase;
	color: #7FFF00;
	font-family: "IMB";
	text-align: initial;
}

.title {
  color: #7FFF00;
  font-family: "IMB";
  font-size: 100%;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #7FFF00; /* The typwriter cursor */
  white-space: normal; 
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing:0; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: #7FFF00 }
  50% { border-color: #7FFF00 }
}

.subtitle {
	color: #7FFF00;
	font-family: "IMB";
	font-size: 60%;
}

.author {
	color: #7FFF00;
	font-family: "IMB";
	font-size: 30%;
}

.date { 
	color: #7FFF00;
	font-family: "IMB";
	font-size: 30%;
}

.license {
	color: #7FFF00;
	font-family: "IMB";
	font-size: 30%;
}

.other {
	color: #7FFF00;
	font-family: "IMB";
	font-size: 30%;
}

.source {
	color: #7FFF00;
	font-family: "IMB";
	font-size: 30%;
}

h2 {
	color: #7FFF00;
	font-family: "IMB";
	text-align: left;
	font-size: 60%;
	text-indent: initial;
	margin-bottom: 2%;
	margin-top: 2%;
}

div.article {
	color: #7FFF00;
	text-indent: initial;
}

p {
	margin-bottom: 0%;
}


blockquote {
	padding-top: 3%;
	padding-right: 5%;
	padding-left: 5%;
}

.long {
	display: inline-block;
	word-break: break-word;}

.question {
	font-weight: bold;
}	

.footer {
	color: #7FFF00;
	font-size: 30%;	
}
/*figure formating*/

figure {
	float: left; 
	margin: 0% 5% 0% 5%;
	text-indent: initial;
	border: 5px ;
	border-style: inset;
	border-color: black;
	
}
figcaption {
	color: #7FFF00;
	font-family: "IMB";
	font-size: 30%;
	text-indent: initial;
}

img {
	filter: sepia(9%) brightness(83%) hue-rotate(194deg) saturate(743%) invert(3%);
	webkit-filter: sepia(9%) brightness(83%) hue-rotate(194deg) saturate(743%) invert(3%);
	moz-filter: sepia(9%) brightness(83%) hue-rotate(194deg) saturate(743%) invert(3%);
	max-width: 100%;
}

iframe {
	width: 100%    !important;
	height: auto   !important;
	text-align: left;
	display: inline;
}

/* hyperlinks*/

a { 
	color: #7FFF00;
	text-decoration: none;
}

a:visited {
	color: #7FFF00; 
	text-decoration: none;
}

a:hover {
	color: #7FFF00; 
	text-decoration: none;
}

a:active {
	color: #7FFF00; 
	text-decoration: none;
}

/*metadata top box formatting*/

.metadata {
    	display: block;
	cursor: url('imgs/Fantasma azul.ani'),auto;
	margin-top: 5%;
    	padding: 2%;
	padding-left: 2%;
	padding-right: 2%;
	width: 100%;
	height: 30vh;
	overflow-y: scroll;
	border: 10px #7FFF00;
	border-style: solid;
	border-width: medium;
    	scrollbar-width: thin;
}

.metadata::-webkit-scrollbar {
  width: 0;               /* width of the entire scrollbar */
}
.metadata::-webkit-scrollbar-track {
  background: #7FFF00;        /* color of the tracking area */
}
.metadata::-webkit-scrollbar-thumb {
  background-color: #7FFF00;    /* color of the scroll thumb */
}

/*article box formatting*/

.article {
	display: block;
	cursor: url('imgs/Fantasma azul.ani'),auto;
    	margin-top: 5%;
	padding-top: 2%;
	padding-right: 2%;
	padding-left: 2%;
	width: 100%;
	height: 46vh;
	overflow-y: scroll;
	border: #7FFF00;
	border-style: solid;
	border-width: medium;
	scrollbar-width: thin;
	font-size: 70%;
}

.article::-webkit-scrollbar {
  width: 0;               /* width of the entire scrollbar */
}
.article::-webkit-scrollbar-track {
  background:  #7FFF00;        /* color of the tracking area */
}
.article::-webkit-scrollbar-thumb {
  background-color:  #7FFF00;    /* color of the scroll thumb */
  width: 0;
}

/* Style for the navbar section */

#header img {
  max-width: 100%;
  border-style: none;
  outline: none;
  filter: none;
}

#header img:hover {
  max-width: 100%;
  border-style: none;
  outline: none;
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari 3-8 */
  transform: scale(1.11);
  filter:opacity(50%);
}

#header {
	font-family: 'Mont R';
}


#bar-header {
	width: 100%;
    height: 50px;
}


/* Style for the accordion (metadata) */


.accordion  {
	font-family: 'Mont R';
	font-size: 12px;
}

.accordion .label {
	font-family: 'Mont R';
	font-size: 12px;
	font-weight: bold;
}


.accordion a {
	font-family: 'Mont R';
	font-size: 12px;
	color: blue;
}

.accordion-collapse{
	height: 50vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.accordion h2  {
	font-family: 'Mont R';
}


/* "art" container of articles and metadata */

#art {
	width: 98%;
	font-family: 'IMB';
	background-color:#202020; 
	padding: 8px;
	width: 100%;
	margin-top: 12px;
} 

/* row to add some space under the navbar*/

.row {
	margin-top: 1%;
}

.navbar {
    min-height: 100px;
}
