@font-face {
  font-family: 'Mont R';
  src: url('fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Mont B';
  src: url('fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Mont T';
  src: url('fonts/Montserrat-ThinItalic.ttf');
}

@font-face {
  font-family: 'Mont I';
  src: url('fonts/Montserrat-Italic.ttf');
} 

html {
	width: 100%;
	
}

body {
	font-family: 'Mont R';
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	background-color: #1b294b;
}

/*metadata top box formatting*/
.metadata {
	height: 25vh;
	font-family: 'Uncial Antiqua';
   	display: block;
   	padding: 1%;
	padding-top: 10%;
	padding-right: 15%;
	padding-left: 2%;
	margin-top: 0.5%;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	background: url('imgs/parchment.jpg');
	background-position: center;
	border-left: 50px solid;
	border-image: url('imgs/border.jpg') 75 round;
	scrollbar-color: #D4AF37 #D4AF37;
	scrollbar-width: thin;
	cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='75' height='90' viewport='0 0 100 100' style='fill:black;font-size:60px;'><text y='50%'>☜</text></svg>") 16 0,auto;
}

.metadata::-webkit-scrollbar {
  width: 1px;               /* width of the entire scrollbar */
}

.metadata::-webkit-scrollbar-track {
  background: url('imgs/gold_leaf.jpg');        /* color of the tracking area */
}

.metadata::-webkit-scrollbar-thumb {
  background-color: none;    /* color of the scroll thumb */
  border-radius: 25px;        /*roundness of the scroll thumb */
}

.subtitle {
	font-weight: bold;
	font-family: 'Uncial Antiqua';
	display: inline;
}

h1 {
	color: #1b294b;
	font-family: 'Uncial Antiqua';
	text-align: left;
	display: inline;
	font-size: 150%;
}
/* article formatting */
.article {
	width: 100%;
	height: 54vh;
	font-family: 'Uncial Antiqua';
	
	display: block;
    margin-top: 5%;
	padding-top: 10%;
	padding-right: 15%;
	padding-left: 2%;
	padding-bottom: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-color: #D4AF37 #D4AF37;
	scrollbar-width: thin;
	background: url('imgs/parchment.jpg');
	background-position: center;
	cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='75' height='90' viewport='0 0 100 100' style='fill:black;font-size:60px;'><text y='50%'>☜</text></svg>") 16 0,auto;
	border-left: 50px solid;
	border-image: url('imgs/border.jpg') 50 round;
}

.article::-webkit-scrollbar {
  width: 1px;               /* width of the entire scrollbar */
}

.article::-webkit-scrollbar-track {
  background: url('imgs/gold_leaf.jpg'); /*color of the tracking area */
}

.article::-webkit-scrollbar-thumb {
  background-color: #2B6199;     /*color of the scroll thumb. Color is Lapis Lazuli */
  background-color: none;
  border-radius: 20px;*/       /* roundness of the scroll thumb */
  border: 2px solid #2B6199;  /* creates padding around scroll thumb */
}


h2 {
	color: #8b0000;
	font-family: 'Uncial Antiqua';
	text-align: left;
	font-size: 120%;
	display: inline;
}


figure {
	float: left; 
	margin-bottom: 1%;
	display: table;
	margin-right: 1%;
}

figcaption {
	font-family: 'Uncial Antiqua';
	font-size: 70%;
	font-weight: bold;
	text-align: left;
	display: table-caption;
	caption-side: bottom;
}

img{
  max-width: 100%;
  height: auto;
  border-style: solid;
  border-top: 4px solid #2B6199;
  border-bottom: 4px solid #2B6199;
  border-left: 4px solid #8b0000;
  border-right: 4px solid #8b0000;
  outline: 2px solid black;
}

iframe {
	max-width: 100%    !important;
	height: auto   !important;
	text-align: left;
	display: inline;
	border-style:solid;
	border-color: #ff0000 #00ff00 #0000ff rgb(250,0,255);
	border-top: 4px solid #2B6199;
	border-bottom: 4px solid #2B6199;
	border-left: 4px solid #8b0000;
	border-right: 4px solid #8b0000;
	outline: 2px solid black;
}



p
{
  margin:0;
  padding:0;
  display: inline;  
}

div{
  margin:0;
  padding:0;
}



a { 
	color: black;
	text-decoration: none;
}

a:visited {
	color: black; 
	text-decoration: none;
}

a:hover {
	color: black; 
	text-decoration: none;
}

a:active {
	color: black; 
	text-decoration: none;
}

/*navbar formatting*/
.navbar-brand {
	font-family: 'Mont R';
}

.nav-link {
	font-family: 'Mont R';
}

.dropdown-item {
	font-family: 'Mont R';
	
}




/* Highlight for the metadata viewer */

.highlight{
	background-color: #ccff33;
}
/* Style for the navbar section */

#header img {
  max-width: 100%;
  border-style: none;
  outline: none;
  filter: none;
}

#header img:hover {
  max-width: 100%;
  border-style: none;
  outline: none;
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari 3-8 */
  transform: scale(1.11);
  filter:opacity(50%);
}

#header {
	font-family: 'Mont R';
}

#bar-header {
	width: 100%;
    height: 50px;
}


/* Style for the accordion (metadata) */


.accordion h2  {
	font-family: 'Mont R';
}

.accordion .label {
	font-family: 'Mont R';
	font-size: 12px;
	font-weight: bold;
}

.accordion a {
	font-family: 'Mont R';
	font-size: 12px;
	
}

.accordion-collapse{
	height: 25vh;
	overflow-y: scroll;
	overflow-x: hidden;
}


/* "art" container of articles and metadata */

#art {
	width: 100%;
} 

.row {
	margin-top: 1%;
}








