@font-face {
font-family: "Uncial Antiqua", cursive;
}

.navbar-brand {
	font-family: 'Arial';
}

.nav-link {
	font-family: 'Arial';
}

.dropdown-item {
	font-family: 'Arial';
	
}

/*body tag contains navbar so this also changes the font there and as the default for anything not otherwise specificed*/
body {
	color: black;
	text-align: justify;
	font-family: 'Libre Caslon Text';
	background-color: white;
}
h1 {
	color: black;
	font-family: "Plaster";
	text-align: left;
}

.subtitle {
	font-weight: bold;
	font-family: Righteous;
}
/*I used h2 for all section titles within the articles*/
h2 {
	color: black;
	font-family: "Teko";
	text-align: left;
	font-size: 150%;
}
/*I used h1 as the overall title and subtitle for any subtitle of that title*/
h1 {
	color: black;
	font-family: "Plaster";
	text-align: left;
	font-size: 150%;
}

p {
	margin-bottom: 0%;
}
div.article {
	text-indent: 5%;
}
h2 {
	text-indent: 0%;
	margin-bottom: 0%;
	margin-top: 2%;
}

/*figure formating*/
figure {
	float: left; 
	margin: 0% 5% 0% 5%;
	margin-left: 0%;
	margin-right: 0%;
	text-indent: 0%;
	
}
figcaption {
	font-family: Teko;
	font-size: 70%;
	font-weight: bold;
	text-indent: 0%;
}

img {
    filter: grayscale(100%);
	max-width: 100%;
}

iframe {
	filter:grayscale(100%);
	width: 100%    !important;
	height: auto   !important;
	text-align: left;
	display: inline;
}
/*hyperlinks*/

a {
	color: black;
	text-decoration: none;
}
a:visited {
	color: black; 
	text-decoration: none;
}

a:hover {
	color: black; 
	text-decoration: none;
}

a:active {
	color: black; 
	text-decoration: none;
}

/*metadata top box formatting*/
.metadata {
    display: block;
    padding: 5%;
	margin-top: 5%;
	padding-left: 2%;
	padding-right: 2%;
	width: 100%;
	height: 25vh;
	overflow-y: scroll;
	border: 3px solid black;
	scrollbar-width: none;
}
.metadata::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
.metadata::-webkit-scrollbar-track {
  background: black;        /* color of the tracking area */
}
.metadata::-webkit-scrollbar-thumb {
  background-color: black;    /* color of the scroll thumb */
}

/*article box formatting*/
.article {
	display: block;
    margin-top: 5%;
	padding-top: 3%;
	padding-right: 5%;
	padding-left: 5%;
	width: 100%;
	height: 75vh;
	overflow-y: scroll;
	border: 3px solid black;
	font-size: 80%;
}

.article::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
.article::-webkit-scrollbar-track {
  background: black;        /* color of the tracking area */
}
.article::-webkit-scrollbar-thumb {
  background-color: black;    /* color of the scroll thumb */
}
