@font-face {
  font-family: 'Mont R';
  src: url('fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Mont B';
  src: url('fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Mont T';
  src: url('fonts/Montserrat-ThinItalic.ttf');
}

@font-face {
  font-family: 'Mont I';
  src: url('fonts/Montserrat-Italic.ttf');
} 

html {
	width: 100%;
	
}

body {
	font-family: 'Mont R';
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}

/*metadata top box formatting*/
.metadata {
    display: block;
	font-family: 'Libre Caslon Text';
	font-size: 80%;
    padding-top: 3%;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 3%;
	margin-top: 0%;
	width: 100%;
	height: 25vh;
	overflow-y: scroll;
	border: solid black;
	border-width: 5px 20px 5px 5px;
	scrollbar-width: none;
}
.metadata::-webkit-scrollbar {
  display: none;
}

.subtitle {
	font-weight: bold;
	font-family: Righteous;
}

h1 {
	color: black;
	font-family: "Plaster";
	text-align: left;
	font-size: 150%;
}

.question {
	font-weight: bold;
	font-family: Righteous;
	text-indent: 0;
}

.article #ad {
    display:inline-block;
    border-top:4px solid #000;
	border-bottom: 4px solid #000;
    padding:5px;
	width: 100%;
}
.article ul {
	list-style-type: square;
	margin-bottom: 0;
}
/* article formatting */
.article {
	display: flex;
	width: 100%;
	max-height: 55vh;
	color: black;
	text-align: justify;
	font-family: 'Libre Caslon Text';
	color: black;
	display: block;
    margin-top: 2%;
	overflow-y: scroll;
	overflow-x: hidden;
	word-wrap: break-word;
    overflow-wrap: break-word;
	padding-top: 1em;
	padding-right: 1em;
	padding-left: 1em;
	font-size: 80%;
    scrollbar-width: none;
	border: solid black;
	border-width: 5px 20px 5px 5px;
	scrollbar-width: none;
}
.article::-webkit-scrollbar {
  display: none;
}


div.article {
	text-indent: 5%;
} 
.long {
	display: inline-block;
	word-break: break-word;}

blockquote {
	padding: 0;
	margin: 0;
}


h2 {
	color: black;
	font-family: "Teko";
	text-align: left;
	font-size: 150%;
	text-indent: 0%;
	margin-bottom: 0%;
	margin-top: .25em;
}
  
figure {
	float: left; 
	display: table;
	box-sizing: border-box;
	margin-left: 0;
	margin-right: 0em;
	margin-left: 0em;
	margin-bottom: 0;
	text-indent: 0;
}
.article figure {
	border-right: 5px solid white;
}

figcaption {
	font-family: Teko;
	font-size: 90%;
	font-weight: bold;
	text-align: left;
	display: table-caption;
	caption-side: bottom;
	text-indent: 0%;
}

img {
    filter: grayscale(100%);
	max-width: 100%;
}

iframe {
	filter:grayscale(100%);
	width: 100%    !important;
	height: auto   !important;
	text-align: left;
	display: block;
}

p {
	margin-bottom: 0em;
}

a { 
	color: black;
	text-decoration: none;
}

a:visited {
	color: black; 
	text-decoration: none;
}

a:hover {
	color: black; 
	text-decoration: none;
}

a:active {
	color: black; 
	text-decoration: none;
}

/*navbar formatting*/
.navbar-brand {
	font-family: 'Mont R';
}

.nav-link {
	font-family: 'Mont R';
}

.dropdown-item {
	font-family: 'Mont R';
	
}

/* Highlight for the metadata viewer */

.highlight {
	color:black;    
	text-shadow: 1px 0 black;
	letter-spacing:1px;
	font-weight:bold;
}
/* Style for the navbar section */

#header img {
  max-width: 100%;
  border-style: none;
  outline: none;
  filter: none;
}

#header img:hover {
  max-width: 100%;
  border-style: none;
  outline: none;
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari 3-8 */
  transform: scale(1.11);
  filter:opacity(50%);
}

#header {
	font-family: 'Mont R';
}

#bar-header {
	width: 100%;
    height: 50px;
}


/* Style for the accordion (metadata) */


.accordion  {
	font-family: 'Mont R';
	font-size: 12px;
}

.accordion .label {
	font-family: 'Mont R';
	font-size: 12px;
	font-weight: bold;
}


.accordion a {
	font-family: 'Mont R';
	font-size: 12px;
	color: blue;
}

.accordion-collapse{
	height: 48vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.accordion h2  {
	font-family: 'Mont R';
}

/* "art" container of articles and metadata */

#art {
	width: 100%;
	
} 

.row {
	margin-top: 1%;
}
