@font-face {
  font-family: 'PIXymbols';
  src: url('PIXymbols.ttf');
}

@font-face {
  font-family: 'TT Polls' ;
  src: url('TT Polls.ttf');
}

@font-face {
  font-family: ;
  src: url('');
}

@font-face {
  font-family: ;
  src: url('');
}



.navbar {
	background-color: black;
}


.navbar-brand {
	font-family: 'Arial';
}

.nav-link {
	font-family: 'Arial';
	color: white;
}



.dropdown-item {
	font-family: 'Arial';
	
}


h1 {
	display:block;
	color: white;
	font-family: 'TT Polls';
	text-align: center;
}


.subtitle {
	color: white;
	font-family: 'TT Polls';
	text-align: left;
	font-weight: normal;
	word-spacing: -1px;
	padding-top: 2%;
	padding-right: 5%;
	padding-left: 5%;
	text-align: justify;
	
}

.subtitle::after {
	display: inline-block;
	padding-top: 25px;
    margin-right: 50px;
	margin-left: 50px;
    content: url('pop.gif');
}

date::before {
	content: "WELCOME TO THE FUTURE!  ";
}

date::after {
	content: " (after nuclear holocaust ERA)";
}


h2 {
	color: white;
	font-family: 'TT Polls';
	font-weight: normal;
	text-align: left;
	padding-top: 3%;
	padding-right: 5%;
	padding-left: 5%;
}

.article > h2 {
	color: #19F318;
	font-family: 'PIXymbols';
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
	padding-top: 4%;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 0;
	font-size: 20px;
}


body {
	cursor: url(fall.cur),auto;
	color: #262A1C;
	text-align: justify;
	font-family: 'PIXymbols';
	background-color: black;
	background-image: url('atomic1.png');
	background-position: center;
	background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


p {
	color: #19F318;
	text-align: justify;
	font-family: 'PIXymbols';
	line-height: 1.5;
	display: inline-block;
	padding-right: 5%;
	padding-left: 5%;
	}


/*figure formating*/
figure {
	float: left; 
	margin: 5% 0% 5% 0%;
	padding-top: 3%;
	padding-right: 5%;
	padding-left: 5%;
}

figcaption {
	font-family: 'PIXymbols';
	color: #19F318;
	font-size: 70%;
	padding-top: 3%;
	padding-right: 5%;
	padding-left: 5%;
}

img {
    filter: contrast(200%);
	max-width: 100%;
	border-radius: 5px;
    border: 1px solid #24481f;
}

/* I DON'T KNOW IF YOU USED THOSE BUT IN CASE
ADD THEM!!! */
blockquote {
	
	padding-top: 3%;
	padding-right: 5%;
	padding-left: 5%;
	color: #19F318
}

.twitter-tweet tw-align-center {
	cursor: url(fall.cur),auto;
}

h5 {
	padding-top: 3%;
	padding-right: 5%;
	padding-left: 5%;
	color: #19F318;
}
/*********/

iframe {
	filter:contrast(200%);
	width: 100%    !important;
	height: auto   !important;
	text-align: left;
	display: inline;
}


ul {
	list-style-type: square;
	color: #19F318;
}



/*hyperlinks*/

a { 
	cursor: url(fall.cur),auto;
	color: #19F318; 
	font-family: 'PIXymbols';
	text-decoration: underline;
}

a:visited {
	color: #19F318;
	text-decoration: underline;
}

a:hover {
	color: #24481f;
	background-color:#19F318;
	text-decoration: underline;
}


a:active {
	color: #262A1C;
	text-decoration: underline;
}


/*metadata top box formatting*/
.metadata {
    display: block;
    padding: 5%;
	margin-top: 5%;
	width: 100%;
	height: 28vh;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-color: black;
    scrollbar-width: thin;
	border: 1px solid;
	border-radius: 5px;
	border-color: black;
	background: linear-gradient(-40deg, #0D2819, #0B2C19, #050E09, #000000);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
	opacity: 80%;
}


.metadata::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.metadata::-webkit-scrollbar-track {
  background: rgba(224,187,147,255);        /* color of the tracking area */
}

.metadata::-webkit-scrollbar-thumb {
  background-color: rgba(224,187,147,255);    /* color of the scroll thumb */
}


.article {
	display: block;
    margin-top: 5%;
	width: 100%;
	height: 75vh;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-color: black;
    scrollbar-width: thin;
	border: 1px solid;
	border-color: black;
	border-radius: 5px;
    padding: 10px;
	background: linear-gradient(-40deg, #0D2819, #0B2C19, #050E09, #000000);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
	height: 100vh;
	opacity: 80%;
}

	

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}







.article::-webkit-scrollbar {
  width: 12px;         
}

.article::-webkit-scrollbar-track {
  background: black;        /* color of the tracking area */
}

.article::-webkit-scrollbar-thumb {
  background-color: black;    /* color of the scroll thumb */
}



html {
	width: 100vw;
}