
@font-face {
  font-family: "Edda outline";
  src: url("edda_outline.ttf");
}

@font-face {
  font-family: "Edda filled";
  src: url("edda_filled.otf");
}

@font-face {
  font-family: "Tarocco Roman";
  src: url("Tarocco Roman.ttf");
}


.container1 {
	background-color: #FAF9DA;
	
	}


.title {
		text-align: center;
		}	

.caps {
	text-transform: uppercase;
}

.maintitle {
	color: #E25E37;
	text-align: center;
	font-family: 'Antique Packaging';
	font-size: 50px;
	letter-spacing: 1px;
	word-spacing: -1px;
	text-align: center;
	line-height: 54px;
	}


/*
.byline {
	font-family: 'Carouselambra';
	text-align: center;
	font-weight: lighter;
	
	letter-spacing: 1px;
	word-spacing: -1px;
	text-align: center;
	font-size: 20px;
	line-height: 0.9;
}  */


.articletitle {
	color: #5E7771;
	font-family: 'Carouselambra';
	
	letter-spacing: 1px;
	word-spacing: -1px;
	text-align: center;
	font-size: 40px;
	line-height: 0.9;
}



/* new  (by Sarah) ---------------------------------- */


iframe {
	filter:grayscale(100%);
	width: 100%    !important;
	height: auto   !important;
	text-align: left;
	display: inline;
}


/*metadata top box formatting*/
.metadata {
    display: block;
    padding: 5%;
	margin-top: 5%;
	width: 100%;
	height: 25vh;
	overflow-y: scroll;
	border: 5px solid blue;
}

.metadata::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.metadata::-webkit-scrollbar-track {
  background: blue;        /* color of the tracking area */
}

.metadata::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
}

/*article box formatting*/
.article {
	display: block;
    margin-top: 5%;
	padding-top: 3%;
	padding-right: 5%;
	padding-left: 5%;
	width: 100%;
	height: 75vh;
	overflow-y: scroll;
	border: 5px solid black;
}

.article::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
.article::-webkit-scrollbar-track {
  background: black;        /* color of the tracking area */
}
.article::-webkit-scrollbar-thumb {
  background-color: black;    /* color of the scroll thumb */
}

/*uncomment this line to see it without the red border around the columns. The border shows how the whole thing extends past the viewport, idk why and also show thes the scroll bar area I want to get rid of
.col {
	border: 5px solid red;
	padding-left: 0%;
}*/
html {
	width: 100vw;
}

/* end of new part */


figure {
	float: left; 
	margin: 5% 0% 5% 0%;
	font-family: 'Tarocco Roman';
}


.img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
    max-width: 100%;
	filter: sepia(1);
	}
	

iframe {
	filter:grayscale(100%);
	width: 100%    !important;
	height: auto   !important;
	text-align: left;
	display: inline;
}	
	
	

.article {
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
  text-align: justify;
  
}
	
p {
	color: #262A1C;
	text-align: justify;
	text-justify: inter-word;
	-webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
	font-family: 'Tarocco Roman';
	line-height: 1.5;
	display: inline-block;
	}
	
	
p::first-letter {
  
}	

	
a { 
	color: #E35E33; 
	font-family: 'Tarocco Roman';
}

a:visited {
	color: #5E7771;
}
	
a:hover {
	color: #FAF9DA;
}

a:active {
	color: #262A1C;
}



















	
	
